.App {
  text-align: center;
}

.content {
  background-color: #D1D1D1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.stepper {
  margin-top:200px; 
}
.header {
  background-color: #24252F;
}

.App-link {
  color: #61dafb;
}
